nav{
    color:black;
    font-family: 'Roboto', sans-serif;
    font-weight:bold;
}
body{
    font-family: 'Bebas Neue';
    font-family: 'Roboto', sans-serif;
}

.main-top {
    padding-top: 0px;
  }
@media (min-width: 992px) and (max-width: 1199px) {
    .main-top {
      padding-top: 25px;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .main-top {
      padding-top: 125px;
    }
    .card-footer{
        font-size: x-small;
    }
    .card-footer h3{
        font-size:large;
    }
}
@media (min-width: 576px) and (max-width: 767px) {
    .card-footer{
        font-size:xx-small;
    }
    .card-footer h3{
        font-size:large;
    }
}
@media (max-width: 767px) {
    .main-top {
      padding-top: 175px;
    }
}
h1, h2{
    font-family: 'Bebas Neue';
}
h3, h4, h5{
    font-family: 'Roboto', sans-serif;
}
h1{
    font-size: 60px;
    font-weight:bold;
}
h2, h3, h4, h5{
    font-weight: bold;
}
.clr-bg-top, footer{
    background-color:rgb(255, 251, 240, 100%);
}
.clr-guu{
    color: rgba(250, 190, 76, 1);
}
.main-top{
    padding-bottom: 100px;
}
h2{
    color: rgba(54, 57, 88, 1);
}
.container-size{
    margin-top: -150px;
}
button img{
    width: 2em;
}
.body-button{
    width: 170px;
    height: 50px;
    left: 10%;
    top: 10%;
    color: white;
    background-color: rgba(164, 188, 70, 1);
    font-family: 'Roboto', sans-serif;
    border-radius: 10%;
    border-radius: 0.75em;
    border: 0;
    background-image: linear-gradient(180deg, rgb(158, 177, 81), rgb(107, 126, 30));
}
.card{
    border-radius:1em;
}
.card-image-div{
    border-radius: inherit;
}
.card-image{
    padding: 1em;
    background-color:rgba(241, 241, 241, 1);
    border-radius: inherit;
}
.card-footer-penguin{
    background-color: rgb(255, 255, 255, 0);
    border: 0;
}
.info-box{
    background-color:white;
    border-radius: 1em;
}
.info-img{
    width: 20%;
    padding-left: 5%;
}
.footer-logo{
    width:15em;
}
.footer-links
{
  padding-left:0;
  list-style:none;
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color: rgba(250, 190, 76, 1);
  text-decoration:none;
}
.social-icons
{
  list-style:none;
}
.social-icons i{
    font-size: 2em;
}